.headerContainer{
   display: grid;
   grid-template-columns: 50% 50%;
}
.container{
    padding: 50px 0px;
}
.Title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}
.table{
    height: 120px  !important;
}
.table tr>td{
    vertical-align: middle;
    height: 120px;
    text-align: center;
}
.table tr>th{
    vertical-align: middle;
    text-align: center;
    height: 80px;
}
.tbody tr>th{
    vertical-align: middle;
    height: 120px;
    text-align: center;
}
.addMore{
    font-size: 18px;
    font-family: 600;
    background-color: #000;
    padding: 6px 47px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    color: #fff;
   
}
.deleteIcon{
    width: 35px;
    height: 35px;
   margin: auto;
   display: block;
}
.searchField{
    width: 300px;
    border: 1px solid #ccc;
    color: #ccc;
    padding: 13px 23px;
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: right 16px;
    background-image:url('./../../Images/search.png') ;
}
.table{
   
    border: 1px solid #ccc;   
}

.thead{
    border-bottom: 1px solid #ccc;
}


.tablecontainer{
    margin-top: 35px;
}

.modalBody{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    
    

}

.modalContent{
    width: 362px;
    height: auto;
    border-radius: 20px;
    background-color: white;
    margin: auto;
    padding: 37px;
}



.deleteText{
    font-size: 20px;
    text-align: center;
     width: 95%;
    margin: 0 auto 30px;


}

.btn-group{
    display: flex;
    justify-content: space-between;

}

.btn-modal{
    font-size: 18px;
    font-family: 600;
    background-color: #fff;
    border:1px solid black;
    padding: 6px 40px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    color: #fff;
}

.cancel{
    color:#000
}

.delete{
    background-color:#000;
    padding: 6px 55px;
}

.delete-btn,.edit-btn{
    outline: none;
    border: none;
    color: red;
    font-weight: 600;
    background-color: white;
    font-size: 15px;
}

.edit-btn{
    color:blue;
    
}

.d-ic{
    display: inline-block;
    height: 23px;
    margin-right: 6px;
    
    
    
}
/*  */